$gc-icon-font-url: '~graphen/src/assets/font';
$gc-font-url: '~graphen/src/assets/font';

@import "~graphen/src/style.scss";

.l-background {
  background-image: linear-gradient(0deg, rgb(243, 243, 243) 0%, rgb(255, 255, 255) 100%);
}
