.l-toolbar {
  padding: 17px;

  &__icon {
    display: inline-block;
  }

  &__value {
    display: inline-block;
    font-size: 16px;
    letter-spacing: 2px;
    font-family: "Bai Jamjuree";
  }
}
