.l-navigation {
  max-width: 1200px;
  list-style: none;
  margin: 0 auto;
  padding-left: 15px;
  padding: 0;
  display: flex;

  @include gx-phone {
    flex-flow: column;
  }

  &__option {
    font-family: 'Bai Jamjuree';
    line-height: 62px;
    font-size: 18px;

    a {
      color: #585858;
    }

    @include gx-phone {
      text-align: center;
    }

    &--spacing {
      margin-right: 35px;

      @include gx-phone {
        margin-right: 0;
      }
    }
  }

  &__space {
    flex-grow: 1;
  }
}
