<% include header %>

<div class="container-fluid static-main">
    <div class="row">
        <div class="col-sm-12">

        </div>
    </div>
</div>
<div class="container-fluid static-content">
    <div class="row">
        <div class="col-sm-12">
            CONTACT PAGE
        </div>
    </div>
</div>

<% include footer %>