<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>CODA_ front-end development cloud</title>
  <link rel="stylesheet" href="/stylesheets/screen.css">
  <script src="http://localhost:35729/livereload.js"></script>

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
</head>
<body>

<div class="container-fluid tpl-navigation">
    <div class="row">
        <div class="col-sm-4">
            <div class="brand-logo">
                <a href="/">
                    <img src="/img/coda-logo.png" alt="">
                </a>
            </div>
            <div class="brand-text">
                Front-end development cloud
            </div>
        </div>
        <nav class="col-sm-8">
            <ul>
                <li>
                    <a href="/">
                        Home
                    </a>
                </li>
                <li>
                    <a href="/services">
                        Services
                    </a>
                </li>
                <li>
                    <a href="/blog">
                        Blog
                    </a>
                </li>
                <li>
                    <a href="/products">
                        Products
                    </a>
                </li>
                <li>
                    <a href="/contact">
                        Contact
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>