<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>CODA_ front-end development cloud</title>
  <link rel="stylesheet" href="/stylesheets/screen.css">
  <script src="http://localhost:35729/livereload.js"></script>

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
</head>
<body>