<% include header %>

<div class="container-fluid tpl-navigation">
    <div class="row">
        <div class="col-sm-4">
            <div class="brand-logo">
                <a href="/">
                    <img src="/img/coda-logo.png" alt="">
                </a>
            </div>
            <div class="brand-text">
                Front-end development cloud
            </div>
        </div>
        <nav class="col-sm-8">
            <ul>
                <li>
                    <a href="/">
                        Home
                    </a>
                </li>
                <li>
                    <a href="/services">
                        Services
                    </a>
                </li>
                <li>
                    <a href="/blog">
                        Blog
                    </a>
                </li>
                <li>
                    <a href="/products">
                        Products
                    </a>
                </li>
                <li>
                    <a href="/contact">
                        Contact
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<div class="container-fluid home-main">
    <div class="row">
        <div class="col-sm-12">

        </div>
    </div>
</div>
<div class="container-fluid home-blue">
    <div class="row">
        <div class="col-sm-4 home-blue-front">
            <h3>We've been working for</h3>
            <ul>
                <li>
                    Roche, <em><small>Switzerland, Zurich</small></em>
                </li>
                <li>
                    Worksters, <em><small>USA CA, San Jose</small></em>
                </li>
                <li>
                    Apply Poland, <em><small>Norway, Stavanger</small></em>
                </li>
                <li>
                    Hubvetia, <em><small>Switzerland, Zurich</small></em>
                </li>
                <li>
                    Creative Elephants, <em><small>UK, London</small></em>
                </li>
                <li>
                    And many others ...
                </li>
            </ul>
        </div>
        <div class="col-sm-4 home-blue-front">
            <h3>What we do</h3>
            <ul>
                <li>
                    JavaScript / NodeJS based webdevelopment
                </li>
                <li>
                    NodeJS based fullstack outsourcing
                </li>
                <li>
                    Cross-browser, responsive templates
                </li>
                <li>
                    Mobile applications
                </li>
            </ul>
        </div>
        <div class="col-sm-4 home-blue-front">
            <h3>Why to cooperate</h3>
            <ul>
                <li>
                    Over 6 years in web development
                </li>
                <li>
                    Experience with working for leading companies
                </li>
                <li>
                    Agile approach to projects
                </li>
                <li>
                    Strong front-end background
                </li>
                <li>
                    1 hour of professional job = 25 USD
                </li>
            </ul>
        </div>
    </div>
</div>
<footer class="container-fluid tpl-footer">
    <div class="row">
        <div class="col-sm-3">
            <a href="/">CODA_ 2015</a>
        </div>
        <div class="col-sm-9">

        </div>
    </div>
</footer>

<% include footer %>