<% include header %>

<div class="container-fluid tpl-navigation">
    <div class="row">
        <div class="col-sm-4">
            <img src="/img/coda-logo.png" alt="">
        </div>
        <nav class="col-sm-8">
            <ul>
                <li>
                    <a>
                        Home
                    </a>
                </li>
                <li>
                    <a>
                        About
                    </a>
                </li>
                <li>
                    <a>
                        Services
                    </a>
                </li>
                <li>
                    <a>
                        Contact
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<div class="container-fluid home-main">
    <div class="row">
        <div class="col-sm-12">

        </div>
    </div>
</div>
<div class="container-fluid home-blue">
    <div class="row">
        <div class="col-sm-4 home-blue-nodejs">
            <h4>NodeJS Outsourcing</h4>
            <ul>
                <li>
                    Solid NodeJS background
                </li>
                <li>
                    NodeJS APIs
                </li>
                <li>
                    NodeJS Apps audit
                </li>
            </ul>
        </div>
        <div class="col-sm-4 home-blue-nodejs">
            <h4>NodeJS Outsourcing</h4>
            <ul>
                <li>
                    Solid NodeJS background
                </li>
                <li>
                    NodeJS APIs
                </li>
                <li>
                    NodeJS Apps audit
                </li>
            </ul>
        </div>
        <div class="col-sm-4 home-blue-nodejs">
            <h4>NodeJS Outsourcing</h4>
            <ul>
                <li>
                    Solid NodeJS background
                </li>
                <li>
                    NodeJS APIs
                </li>
                <li>
                    NodeJS Apps audit
                </li>
            </ul>
        </div>
    </div>
</div>
<footer class="container-fluid tpl-footer">
    <div class="row">
        <div class="col-sm-12">
            Footer text
        </div>
    </div>
</footer>

<% include footer %>